### pandas : data preprocessing 
Also check : Pyspark, Dask

Data Scientist

1. Server ---> read data from server 
2. Local --> access file through network, direct access


. Sql Database         
. Oracle Database           
. Mongodb ( json objects )           
. Firebase                
. txt            
. log file          
. pdf            
. word          
. xls, xlsx                                          
. csv ( comma seperated values ==> Ahmed, Mohamed, Ali)      
. json ( javascript object notation )             
. Live data

In [1]:
import pandas as pd
df = pd.read_csv('anything/nyc.csv') # new york whether
#df = Data Frame 
df
# nan = not a number

FileNotFoundError: [Errno 2] No such file or directory: 'anything/nyc.csv'

In [2]:
df.EST

0      1/1/2016
1      1/2/2016
2      1/3/2016
3      1/4/2016
4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
8      1/9/2016
9     1/10/2016
10    1/11/2016
11    1/12/2016
12    1/13/2016
13    1/14/2016
14    1/15/2016
15    1/16/2016
16    1/17/2016
17    1/18/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
21    1/22/2016
22    1/23/2016
23    1/24/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

In [3]:
df["Sea Level PressureIn"]

0     30.03
1     30.02
2     29.86
3     30.05
4     30.57
5     30.50
6     30.28
7     30.20
8     30.16
9     29.59
10    29.92
11    29.85
12    29.94
13    29.95
14    29.82
15    29.52
16    29.78
17    29.83
18    30.03
19    30.13
20    30.15
21    30.21
22    29.77
23    29.92
24    30.25
25    30.03
26    30.03
27    29.90
28    29.58
29    30.01
30    29.90
Name: Sea Level PressureIn, dtype: float64

In [4]:
df["Sea Level PressureIn"].max()

30.57

In [5]:
df["Sea Level PressureIn"] = df["Sea Level PressureIn"].astype("float32")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.209999,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,NaN,241

In [7]:
df.Temperature

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [8]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [9]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [10]:
x =df.columns.to_list()
y=list(df.columns)
print(y)
print(x)
type(x)

['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn', 'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover', 'Events', 'WindDirDegrees']

list

In [11]:
for i in df.Temperature:
    if (i > 30):
        print(i)

38
36
40
33
39
39
44
50
33
35
43
47
36
32
31
34
43
41
37
36
34
46

In [12]:
df.loc[0][0] #location

'1/1/2016'

In [13]:
df.columns[0]

'EST'

In [14]:
counter = 0
for i in df.Temperature:
    if (i >= 30):
        counter+=1
counter

23

In [15]:
counter = 0 
for i in df.Events: 
    if (i == "Rain"):
        counter+= 1
counter

4

In [16]:
# df[ Condition ]
df [ df.Events == "Rain"   ]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,NaN,1.8,7,Rain,109
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311

In [17]:
#print(df['Temperature'])
df["EST"][df.Events == "Rain"]
#print(len(df["EST"][df.Events == "Rain"]))
#df[column] [condition]

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [18]:
df["Temperature"][df.Events == "Rain"]

8     44
9     50
15    47
26    41
Name: Temperature, dtype: int64

In [15]:
print(df.DewPoint.dtype)

int64

In [16]:
print(df.WindSpeedMPH.dtype)

float64

In [17]:
df["Temperature"][df.Events == "Rain"]

8     44
9     50
15    47
26    41
Name: Temperature, dtype: int64

In [28]:
print(f"you have : {len(df.columns)} columns" )

you have : 11 columns

In [19]:
df["EST"][0]

'1/1/2016'

In [20]:
df['EST'][0:5]

0    1/1/2016
1    1/2/2016
2    1/3/2016
3    1/4/2016
4    1/5/2016
Name: EST, dtype: object

In [21]:
df.describe() #only works on numerical columns

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992910,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.139999,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [26]:
#  NAN --> not a number

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float32
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float32(1), float64(1), int64(6), object(3)
memory usage: 2.7+ KB

In [19]:
len(df['EST'][ df['Events']!= 'Rain'])

27

In [23]:
len(df  [   df['Events']!= 'Rain'   ])

27

In [37]:
df.fillna("?") # fill not a number values

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,?,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,?,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,?,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,?,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,?,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,?,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,?,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,?,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,?,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,?,0,1,?,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,?,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,?,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,?,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,?,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,?,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,?,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,?,312
21,1/22/2016,26,6,41,30.209999,9,?,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,?,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,?,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,?,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,?,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,?,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,?,241

In [21]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [40]:
newdf = df.fillna(0)
newdf

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.209999,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,0,241

In [41]:
df.fillna(0, inplace=True) 
# df = df.fillna(0)

In [42]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.030001,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.020000,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.860001,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.049999,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.570000,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.500000,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.280001,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.200001,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.160000,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.590000,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.920000,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.850000,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.940001,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.950001,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.820000,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.520000,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.780001,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.830000,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.030001,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.129999,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.150000,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.209999,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.770000,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.920000,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.250000,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.030001,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.030001,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.900000,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.580000,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.010000,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.900000,10,5.0,0,0,0,241

In [24]:
import io
import requests
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s = requests.get(url).content
data = pd.read_csv(io.StringIO(s.decode('utf-8')))
data

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [28]:
# 1. pd.read_csv("direct url")
# 2. this way